{% render 'partials/head.liquid', title: 'Snappmaps', MultipleSnappMapslist:true%}

{% comment %} {{ MultipleSnappMapslist | json }} {% endcomment %}

{% for OneSnappMap in MultipleSnappMapslist %}
    {% comment %} Make variable for the date of 'today' {% endcomment %}
    {% assign today_date = 'now' | date: '%Y%m%d' %}

    {% comment %} Make variable of the end-date of the 'snappmap' {% endcomment %}
    {% assign target_date = OneSnappMap.time_end | date: '%Y%m%d'%}

    <ul>
        <li>
            {% comment %} If the end-date of one of the 'snappmaps' has not yet ended before the date of 'today', make the name bold {% endcomment %}
            {% if target_date > today_date %}
                <a href="/snappmaps/{{ OneSnappMap.name }}">
                    <strong>{{ OneSnappMap.name }}</strong>
                </a>
                {% else %}
                <a href="/snappmaps/{{ OneSnappMap.name }}">
                    {{ OneSnappMap.name }}
                </a>
            {% endif %}
        </li>

        {% comment %} If the end-date of one of the 'snappmaps' has not yet ended before the date of 'today', add a text with 'Add your snapp!' {% endcomment %}
        {% if target_date > today_date %}
            <li class="active"><strong>Add your snapp!</strong></li>
        {% endif %}
    </ul>
{% endfor %}

{% render 'partials/foot.liquid' %}